.name-title{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color:#F9EE06;
}
.position-text{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	color: #ffffff;
}

.nav-style{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
}

.custom-top-nav{
	background: #1779BA;
}

.greetings-text{
	font-family: 'Lato', sans-serif;
	color:#1779BA;
	font-weight: 900;
}

.greetings-msg{
	font-size:16px;
	font-family: 'Merriweather', serif;
	color:#64A5D1;
}
.contact-icon-color{
	color:#F9EE06;
}

.contact-msg{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	font-weight: 400;
}

.parallax-background {
	background-color: #E6EDF3;
	height: 300px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 2%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 300px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}

.circle-profile{
	border-radius: 50%;
	width: 230px;
	height: 230px;
	text-align: center;
	background:#E6E4E3;
	
}

.social-media-content{
	background-color: #1779BA;
	height: 180px;
	padding-top:20px;
	overflow: hidden;
}

.social-media-icon{
	width: 80px;
	height: 80px;
	border-radius: 10px;
	line-height: 16px;
	text-align: center;
	padding: 20px;
	font-size: 40px;
	margin: 10px;
	color:#1779BA;
	background: #D3D4D7;
	display: inline-block;
	transition-property: background;
	transition-duration: 0.4s;
	transition-timing-function: linear;
}

.social-fb:hover{
	color:#ffffff;
	background: #4E71A8;
}

.social-twitter:hover{
	color:#ffffff;
	background: #1CB7EB;
}

.social-github:hover{
	color:#ffffff;
	background: #000000;
}

.social-pinterest:hover{
	color:#ffffff;
	background: #BD061C;
}

.social-gplus:hover{
	color:#ffffff;
	background: #E3411F;
}

.social-slack:hover{
	color:#ffffff;
	background: #443642;
}

.social-trello:hover{
	color:#ffffff;
	background: #026AA7;
}

.social-text{
	font-family: 'Merriweather', serif;
	color:#ffffff;
}

.info-section{
	background-color: #E6EDF3;
	height: 150px;
	padding-top:20px;
}

.footer{
	background-color: #1779BA;
	height: 120px;
	padding-top:20px;
}

.footer-copyright{
	color:#ffffff;
	font-family: 'Merriweather', serif;
}

.info-section{

}

.info-text{
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 2%;	
}


/*Works*/



@keyframes slideOut{
	100%{
		left: 250px;
		top:60px;
	}
	0%{
		left:0;
		top:0;
	}

}


.works-content{
	background-color: #E6EDF3;
	height: 400px;
	padding-top:20px;
}

.circle-work{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position: absolute;
	transition: transform 300ms cubic-bezier(0.13, 0.15, 0.23, 1.05);
	pointer-events: none;
}

.circle-default{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
	line-height: 24px;
	background-color: #d3d4d5; 
	text-align: center;
	position: relative;
	padding: 10px;
	animation: slideOut 1s linear;
	animation-timing-function: cubic-bezier(.51,-0.14,.48,1.73);
	animation-fill-mode: forwards;
}

.circle-systems{
	background-color: #FD8137;
}

.circle-edm{
	background-color: #5bd49c;
}

.circle-banners{
	background-color: #ebeb01;
}

.circle-html-email{
	background-color: #ff6464;
}

.circle-default:hover .circle-work {
	/*animation: slideIn 1s linear;
	animation-timing-function: ease;
	animation-fill-mode: forwards;*/
	transform: translate(120px, 80px)rotate(20deg);

}

.circle-text{
	font-family: 'Merriweather', serif;
	font-size: 26px;
	text-transform: uppercase;
	margin-top: 68px;
}

.circle-systems-color{
	color:#FD8137; 
}

.circle-edms-color{
	color:#17d47d; 
}

.circle-banners-color{
	color:#fefe43; 
}
.circle-html-email-color{
	color:#ff6464; 
}


.circle-default:hover{
	color: #ffffff;
}

/*EDMs*/

.edm-image{
	width: 270px; 
	height: 270px;
}

.edm-title{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}

.edm-btn{
	margin: 20px;
}

/*
.circle-profile:hover{
	filter:none;

}*/

/*background-image:url(../images/rap_guitar.jpg);	
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
	background-position: center-top;
	height: 200px;*/

font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Playfair Display SC', serif;